NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=hookbridge

REDIS_HOST=localhost
REDIS_PORT=6379

GITHUB_WEBHOOK_SECRET=
STRIPE_WEBHOOK_SECRET=
MIDTRANS_SERVER_KEY=
